# Design

## Requirements

This will load in a file

In [39]:
import pandas as pd
import requests
import filecmp

In [35]:
def request_and_download(url,file_name):
    response = requests.get(url)
    if response.status_code != 200:
        return('Invalid response code')
    else:
        content = response.content
    
    with open(file_name,'wb') as f:
        f.write(content)
    f.close()
    return('Valid response, written')

In [26]:
data_to_pull = pd.read_csv('open-data-pull-list.csv')

In [27]:
data_to_pull

,name,filename,endpoint,type
0,ITS,its.csv,https://opendata.arcgis.com/datasets/496533836...,CSV
1,DC Owned Land,owned-land.csv,https://opendata.arcgis.com/datasets/c8cacaa7f...,CSV

In [15]:
data_to_pull['endpoint'][0]

'https://opendata.arcgis.com/datasets/496533836db640bcade61dd9078b0d63_53.csv'

In [36]:
i = 0
for i in range(len(data_to_pull)):
    
    name = data_to_pull['name'][i]
    file_name = data_to_pull['filename'][i]
    url = data_to_pull['endpoint'][i]
    
    print("{} : {}".format(data_to_pull['name'][i],data_to_pull['endpoint'][i]))
    
    request_and_download(url,file_name)
    
    i+=1

ITS : https://opendata.arcgis.com/datasets/496533836db640bcade61dd9078b0d63_53.csv
DC Owned Land : https://opendata.arcgis.com/datasets/c8cacaa7f74944d19a9941bc7bdee1a2_61.csv

## This section below is just to check the outputs of the data pulls

In [37]:
data_check = pd.read_csv('its.csv')

C:\Users\mwatson\AppData\Local\Continuum\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3,4,37,117,147,157,177) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [38]:
data_check.head()

,﻿OBJECTID_1,OBJECTID,SSL,SQUARE,SUFFIX,LOT,ARN,ASRNAME,PROPTYPE,TRIGROUP,...,PY10TAX,PY10PEN,PY10INT,PY10FEE,PY10TOTDUE,PY10COLL,PY10BAL,PY10CR,LASTPAYDT,OWNNAME2
0,1001,1001,PAR 02080064,PAR,0208,64,NaN,NaN,GARAGE/UNIMPROVED LAND,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1003,1003,PAR 02060119,PAR,0206,119,NaN,NaN,GARAGE/UNIMPROVED LAND,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1004,1004,PAR 02070082,PAR,0207,82,NaN,NaN,COMMERCIAL,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1005,1005,PAR 02080065,PAR,0208,65,NaN,NaN,GARAGE/UNIMPROVED LAND,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1007,1007,PAR 02060122,PAR,0206,122,NaN,NaN,GARAGE/UNIMPROVED LAND,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN